<main class='main'>
  <a href="/" class="to_main">На головну</a>

  {{#with data}}
    <div class='main__content'>
      <h1 class='title title--center'>Оберіть треки</h1>

      <ul class='track__list'>
        {{#each tracks}}
          <li class='track'>
            <img
              height='100px'
              width='100px'
              src='{{image}}'
              alt=''
            />
            <div class='track__content'>
              <strong class='track__name'>{{name}}</strong>
              <em class='track__author'>{{author}}</em>
            </div>

            <a href="/spotify-track-add?playlistId={{../playlistId}}&trackId={{id}}">
              <img height='40px' width='40px'src="/svg/add_track_button.svg" alt="">
            </a>
          </li>
        {{/each}}
      </ul>

    </div>
  {{/with}}
</main>