<main class='main'>
  <a href='/' class='to_main'>На головну</a>

  {{#with data}}
    <div class='main__content'>
      <h1 class='title title--center'>Пошук плейліста</h1>

      <form
        method='POST'
        action='/spotify-search'
        class='search'
      >
        <img src='svg/spotify-search.svg' alt='' />
        <input
          type='search'
          class='search__input'
          placeholder='Введіть запит'
          name='value'
          value='{{value}}'
        />
        <button class='search__button'>Пошук</button>
      </form>

      <ul class='playlist__list'>
        {{#each list}}
          <li class='playlist'>
            <img
              height='100px'
              width='100px'
              src='{{image}}'
              alt='{{name}}'
            />
            <div class='track__content'>
              <strong
                class='playlist__name'
              >{{name}}</strong>
              <span class='playlist__amount'>Кількість
                пісень:
                {{amount}}</span>
            </div>
          </li>
        {{/each}}
      </ul>

    </div>
  {{/with}}
</main>